<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/ROLEX" version="1.0.0" viewmodes="maximized">
    <tizen:application id="GAEBoHZJvD.ROLEX" package="GAEBoHZJvD" required_version="2.3.1"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.shape.circle"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>ROLEX</name>
    <tizen:profile name="wearable"/>
</widget>
